<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>DOTR-900</h2>
  
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>

  <button (click)="scan()">Search</button>
  <!-- <button (click)="connect()">Connect</button> -->

  <p (click)="connect(item)" *ngFor="let item of devices">
    {{item.name}} -
    {{item.address}}
  </p>

  
  <!-- <button (click)="listen()">listen</button> -->
  <!-- <button (click)="listenRawData()">listenRawData</button> -->
  <!-- <button (click)="read()">Read</button> -->
  <button (click)="openInterface()">openInterface</button>
  <button (click)="getBatteryLevel()">Bateria</button>
  <button (click)="getVersion()">Version</button>
  <button (click)="dataAvaiable()">Data Avaiable</button>
  <button (click)="getInventory()">Invetory</button>
  <button (click)="stop()">stop</button>
  <button (click)="deactiveBeep()">Desativar som</button>

  
  <p>{{satus}}</p>

  <p (click)="info(item)" *ngFor="let item of tags">
    {{item}}
  </p>
  
</ion-content>
